<nav class="navbar">

  <div class="container">
    <div class="ui-g">
      <div class="ui-g-12">
        <a href="javascript:;" class="navbar-toggle" (click)="exibindoMenu = !exibindoMenu"><i class="pi pi-bars"></i></a>
      </div>
    </div>
  </div>

  <ul class="navbar-menu" [hidden]="!exibindoMenu">
    <li class="navbar-titulo">Menu</li>
    <li class="navbar-menuitem" routerLinkActive="ativo"><a routerLink="/client">Clientes</a></li>
    <li class="navbar-menuitem" routerLinkActive="ativo"><a routerLink="/product">Produtos</a></li>
    <li class="navbar-menuitem" routerLinkActive="ativo"><a routerLink="/sale">Vendas</a></li>
    <li class="navbar-menuitem" routerLinkActive="ativo"><a routerLink="/report">Relatório de Vendas</a></li>
  </ul>

</nav>
